@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
      url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald'),
      url('../fonts/Oswald-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
      url('../fonts/Raleway-Medium.ttf') format('truetype');
}
.todo-block{
    width: 73%;
    padding: 30px;
    padding-top: 5%;
    position: relative;
}
.todo-block__title{
    text-align: center;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 15px;

}
.todo-block__todos{
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
    overflow-y: auto;
    max-height: 70%;
}
.todo-block__todos::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #14386100;
}
.todo-block__todos::-webkit-scrollbar-thumb {
  background-color: #e6784dd8;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
.todo-block__todo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    background-color: rgb(246 246 246);
    padding: 20px 20px;
    border-radius: 10px;
    transition: 0.5s;
    height: auto;
    position: relative;
}
.task-text{
    width: 80%;
    hyphens: auto;
}
.delete-task{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(-50% , -50%);
    cursor: pointer;
}
.delete-task img{
    transition: 0.8s;
    height: 100%;
}
.delete-task img:hover{
    rotate: 360deg;
    transform: scale(1.1);
}
.todo-block__checkbox{
    display: flex;
    border: 1px solid #344fa2;
    border-radius: 6px;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    cursor: pointer;
}
.todo-block__checkbox.checked{
    background-color: #344fa2;
    border: 1px solid #ffecbf;
    position: relative;
}
.todo-block__checkbox.checked:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 7px;
    left: 3px;
    width: 13px;
    height: 4px;
    border-right: 2.5px solid #fff;
    border-top: 2.5px solid #fff;
    transform: rotate(135deg);
  }
  .todo-block__todo.checked{
    background-color: rgb(182 182 182 / 53%);
    color: #0000005e;
    text-decoration: line-through;
  }
  .todo-add{
    width: 66%;
    position: absolute;
    bottom: 5px;
    height: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffecbf;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  .todo-add.active{
    background-color: #f9ac8d;
    border-radius: 20px;
  }
  .todo-add__input{
    width: 85%;
    height: auto;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 11px 12px ;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Raleway';

  }
  .todo-add:hover{
    background-color: #f9ac8d;
    border-radius: 20px;
  }
  .todo-add__btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    color: #ffecbf;
    font-size: 55px;
    border-radius: 50px;
    position: relative;
    margin-left: 10px;
    transition: 0.5s;
  }
  .todo-add__btn span{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50% , -50%);
  }
  .todo-add__btn.active{
    color: #e98760;
    transition: 0.5s;
  }
  .todo-add__btn:hover {
    color: #e98760;
  }
  .sticky-add-btn{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #e98760;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    transition: 0.3s;
  }
  .sticky-add-btn span{
    position: absolute;
    left: 50%;
    top: calc(50% - 5px);
    transform: translate(-50% , -50%);
  }
  .sticky-add{
    visibility: hidden;
  }
  .sticky-add.active{
    visibility:visible;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sticly-add__conteiner{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffa581;
    transform: translate(-50% , -50%);
    border-radius: 15px;
  }
  .sticky-add__textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #ffffff00;
    border: none;
    outline: none;
    padding: 17px;
    overflow-y: none;
    font-size: 16.5px;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 1.5px;
  }
  .sticly-add__button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgb(103, 233, 96);
    border: none;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translate(-50% , -50%);
    cursor: pointer;
  }
  .sticly-add__button::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 23px;
    left: 13px;
    width: 27px;
    height: 12px;
    border-right: 2.5px solid #fff;
    border-top: 2.5px solid #fff;
    transform: rotate(135deg);
  }